body {
    background-color: lavender;
}
h1 {
    text-align: center;
    position: relative;
    line-height: 50px;
    margin-top: 5%;
}
.mainBody {
    position: relative;
    margin: auto;
    width: 400px;
    border-style: solid;
    border-color: black;
    background-color: black;
    padding: 20px; 
    border-radius: 10% 10% 10% 10% ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.screen {
    background-color: black;
    position: relative; 
    margin: 20px;
    padding-right: 0.5em;
    text-align: right;
    font-size: 40px;
    color: white;
    min-height: 50px;
    
}
.button-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: black;
}
.button {
    text-align: center;
    font-size: 25px;
    padding: 25px;
    border-radius: 50% 50% 50% 50% ;
}
[data-num] {
    background-color: rgb(95, 94, 94);
    color: white;
    
}
[data-operator] {
    background-color: rgb(255, 251, 0);
    
}
[data-equal] {
    background-color: rgb(255, 251, 0);
   
}
[data-percent] {
    background-color: rgb(201, 201, 201);
    
}
[data-clear] {
    background-color: rgb(201, 201, 201);
    
}
[data-plusMinus] {
    background-color: rgb(201, 201, 201);
    
}
